.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

  width: 0;
  z-index: $zindex-4;
  box-shadow: inset 0 2px 6px black;
  background: $black-deep;
  -webkit-transform: translateZ(0); // http://stackoverflow.com/questions/17079857/position-fixed-broken-in-chrome-with-flash-behind
  .overlay {
    width: 100%;
    height: 180px;
    background-color: #4d4d4d;
    background-image: url("http://sterne.qiniudn.com/pikaqiu.gif");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
  }
  a {
    color: $grey-dark;
    border-bottom-color: $black-light;
    &:hover { color: $gainsboro; }
  }

  +tablet() {
    display: none !important;
  }
  +mobile() {
    display: none !important;
  }
}

.sidebar-inner {
  position: relative;
  padding: 20px 10px;
  color: $grey-dark;
  text-align: center;
}

@import "sidebar-toggle";
@import "sidebar-author";
@import "site-state";
@import "sidebar-feed-link";
@import "sidebar-author-links";
@import "sidebar-blogroll.styl";
@import "sidebar-nav";
@import "sidebar-toc";

